body{
    font-family: 'Montserrat', sans-serif;
}

/* sovrascrive vecchio colore */
.header-top{
    background-color: white;
}
/* sovrascrive vecchio colore */

#header-logo{
    height:100%;
}

.navbar{
    font-variant: all-small-caps;
}
.navbar > a{
    color: #bcbcbc;
    padding-right: 10px;
}