body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

/* header */
.header-top{
    background-color: white;
}
#header-logo{
    height:100%;
}

.navbar-link{
    color: #bcbcbc;
    font-variant: all-small-caps;
    margin-right: 10px;
    font-size: 0.8em;
}

.header-jumbotron{
    background-image: url("../img/banner.jpg");
    background-color: #cbbcb6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.jumbutron-container-txt{
    margin: auto 15px 10px;
    padding-top: 138px;
    width: 60%;
    color:white;
}

.jumbutron-title{
    font-size: 1em;
    font-weight: normal;
}
/* header */
