body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

/* header */
.header-top{
    background-color: white;
}
#header-logo{
    height:100%;
}

.navbar-link{
    color: #bcbcbc;
    font-variant: all-small-caps;
    margin-right: 10px;
}
/* header */