*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-stretch: normal;
}
body.width{
    width: 80%;
}
a{
    text-decoration: none;
}
.clearfix,
.container-txt{
    display: inline-block;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* altezze */
.height-70{
    height: 70px;
}
/* FINE altezze */
/* margini */
.margin-btm-15{
    margin-bottom: 15px;
}
.margin-btm-20{
    margin-bottom: 20px;
}
.margin-btm-35{
    margin-bottom: 35px;
}
/* FINE margini */

/* --- header --- */
/* logo */
#header-logo{
    padding-right: 20px;
	border-right: 1px solid lightgrey;
    height:100%;
}
/* FINE logo */

/* navbar */
.navbar-link{
    text-transform: uppercase;
    color: darkgrey;
    margin-right: 10px;
}
/* FINE navbar */
/* jumbotron */
.header-jumbotron{
    width: 100%;
    padding: 350px 50px 0;
    background-image: url("../img/banner.jpg");
    background-color: #cbbcb6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color:white;
    border-radius: 10px;
}
.jumbotron-container{
    /* width: 55%; */
    float: left;
    padding-bottom: 25px;
}
.jumbotron-title{
    font-size: 1.7em;
    font-weight: bold;
    padding-bottom: 5px;
}
.jumbotron-p{
    font-size: 0.9em;
}
/* FINE jumbotron */
/* --- FINE header --- */

/* --- main --- */
.main-title{
    font-size: 2.2em;
}
.main-subtitle{
    color:darkgrey;
    font-size: 1em;
    font-weight: normal;
}

/* immagini e testo (comune) */
[class^="container-"] > .container-block{
    float: left;
}
[class^="container-"] > .container-block:first-child,[class^="container-"] > .container-block:last-child{
    width:20%;
}
[class^="container-"] > .container-block:nth-child(2){
    margin:auto 20px;
    width:calc(60% - 40px);
}
/* /immagini e testo (comune) */

/* immagini */
.container-img{
    height: 200px;
}
.container-img > .container-block:first-child{
    background-image: url("../img/img-1.jpg");
}
.container-img > .container-block:nth-child(2){
    background-image: url("../img/banner-2.jpg");
}
.container-img > .container-block:last-child{
    background-image: url("../img/img-3.jpg");
}
.container-img > .container-block{
    border-radius: 10px;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cccccc;
    height: 100%;
}
/* FINE immagini */

/* testo */
.container-txt{
    height: 100%;
}
.container-txt-title{
    font-size: 1.1em;
    font-weight: lighter;
}
.container-txt-p{
    color: darkgrey;
    font-size: 0.9em;
}
/* FINE testo */
/* --- FINE main --- */

/* --- footer --- */
.footer-bar{
    text-align: center;
    height: 40px;
}
.footer-copyright{
    font-size: 1.1em;
    font-weight: normal;
}

.heart-red{
    color:red;
}
.heart-red::after{
    content: '\2764';
}
/* --- FINE footer --- */