*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}

body{
    margin-top: 12px;
}

main{
    background-color: #0086ff;
}

a{
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color:black;
}

/* dimensioni */
body.width{
    width:80%;
}

header > .margin-btm,
main > .margin-btm{
    margin-bottom: 15px;
}

main.margin-btm{
    margin-bottom: 5px;
}

.main-container{
    padding-bottom: 15px;
}

.container-block:first-child,
.container-block:last-child{
    width:15%;
}
.container-block:nth-of-type(2){
    margin-left:10px;
    margin-right:10px;
    width:calc(70% - 20px);
}


.width-calc{
    width:calc(70% - 20px);
}

.main-container > .padding-btm{
    padding-bottom: 13px;
}
/* /dimensioni colonna */

/* header */
.header-top{
    background-color: #e579e6;
    /*  */
    height: 55px;
    /*  */
}
.header-jumbotron{
    background-color: #e1d67a;
    /*  */
    height: 275px;
    /*  */
}
/* /header */

/* main */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.main-header,.container-block{
    background-color: #abcfe7;
}

.main-header{
    /*  */
    height: 40px;
    /*  */
}

.container-block{
    /*  */
    height: 450px;
    /*  */
    float: left;
}
.container-block:last-child{
    float:right;
}
/* /main */

/* footer */
.footer-bar{
    background-color: #8801fe;
    /*  */
    height:40px;
    /*  */
}
/* /footer */