*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

main{
    background-color: #0086ff;
}


a{
    text-decoration: none;
}

/* dimensioni */
body.width{
    width: 80%;
}
main > .margin-btm{
    margin-bottom: 30px;
}
/* /dimensioni */

/* header */
.header-top{
    /* background-color: #e579e6; */
    height: 70px;
}

.header > .margin-btm{
    margin-bottom: 35px;
}

#header-logo{
    height:100%;
}

/* navbar */
.navbar-link{
    text-transform: uppercase;
    color: darkgrey;
    margin-right: 10px;
}
/* navbar */

/* jumbotron */
.header-jumbotron{
    height: 500px;
    background-image: url("../img/banner.jpg");
    ;
    background-color: #cbbcb6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color:white;
    border-radius: 10px;
    /* margin: auto 25px 15px; */
    /* padding: 315px 0 0; */
}

.header-jumbotron .container
{
    position: relative;
    top: 330px;
    margin-left: 55px;
    width: 50%;
    overflow: hidden;
}

.jumbutron-title{
    font-size: 1.75em;
    font-weight: normal;
    padding-bottom: 5px;
}

.jumbutron-p{
    max-block-size: 40px;
    text-overflow: ellipsis ;
}
/* /jumbotron */
/* /header */

/* main */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.main-header,.container-block{
    background-color: #abcfe7;
}

.main-header{
    /*  */
    height: 40px;
    /*  */
}
main.margin-btm{
    margin-bottom: 5px;
}
.main-container{
    padding-bottom: 15px;
}

/* dimensioni colonne */
.container-block:first-child,
.container-block:last-child{
    width:15%;
}
.container-block:nth-of-type(2){
    margin-left:10px;
    margin-right:10px;
    width:calc(70% - 20px);
}
/* /dimensioni colonna */

.container-block{
    height: 450px;
    float: left;
}
.container-block:last-child{
    float:right;
}
/* /main */

/* footer */
.footer-bar{
    /* background-color: #8801fe; */
    height:40px;
}
/* /footer */